// Please change SSID and Password strings and remove .dist extension of this file

#ifndef ENV_H
#define ENV_H

#define STR_HELPER(x) #x
#define STR(x) STR_HELPER(x)

#define WIFI_SSID "My SSID"
#define WIFI_PASSWORD "MyVerySecretPassword"

#endif